.hero_section {
  position: relative;
  height: 300px;
  background-color: #d8d8d8;
  background-image: url('/images/empty-room-with-chairs-desks.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* test */
  background-position: 0px -300px;
  border-radius: 12px;
}

.hero_card {
  position: absolute;
  padding: 2.5rem;
  border-radius: 12px;
  bottom: -120px;
  right: 50%;
  transform: translateX(50%);
  width: 400px;
  background-color: white;
  box-shadow: 0 12px 24px -6px rgba(24, 26, 42, 0.12);
}

.hero_card__tag {
  display: inline-block;
  padding: 0.25rem;
  border-radius: 6px;
  background-color: #4b6bfb;
  color: white;
  font-size: 0.75rem;
  font-weight: 500;
}

.hero_card__title {
  margin-top: 1rem;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.hero_card__bottom {
  display: flex;
  gap: 20px;
}

.hero_card__bottom__author_image {
  background-color: #4b6bfb;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.hero_card__bottom__author_name {
  color: #97989f;
}

.hero_card__bottom__date {
  color: #97989f;
}
