.advertisement_section {
  margin: 80px auto 80px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--advertisement-color);
  background-color: var(--advertisement-background-color);
  border-radius: 12px;
  width: 750px;
  height: 100px;
}
