@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
       url('/fonts/Vazirmatn[wght].woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WorkSans';
  src: url('/fonts/WorkSans-VariableFont_wght.ttf') format('woff2 supports variations'),
       url('/fonts/WorkSans-VariableFont_wght.ttf') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

html[lang="fa"] body {
  font-family: Vazirmatn, Arial, Helvetica, sans-serif;
}

html[lang="en"] body {
  font-family: WorkSans, Arial, Helvetica, sans-serif;
}

.site-container {
  margin: 0 auto;
  max-width: 1218px;
}